.todo {
    max-width: 600px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    padding: 0 44px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.todo-header {
    margin-top: 50px;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.todo-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.todo-input {
    border-radius: 20px;
    background: #edeef0;
    outline: none;
    border: none;
    width: 100%;
    padding-left: 35px;
    font-size: 20px;
    padding: 20px 100px 20px 25px;
    font-size: 20px;
    font-weight: 600;
}

.todo-add-btn {
    background: #ff6739;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 25px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 0 20px 20px 0;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.todo-list {
    margin-top: 16px;
}